* {
  box-sizing: border-box;
}

body {
  background: url(../images/congruent_outline.png);
}

#inputs, #outputs {
  background: #e9ecef;
  padding: 20px;
}

h1, p {
  text-align: center;
}

.jumbotron {
  margin-top: 30px;
}