@font-face {
  font-family: 'SfHollywoodHills-aPxE' ;
  src: url(../fonts/shyfoundry_sf-hollywood-hills/SfHollywoodHills-aPxE.ttf) format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  background: url(../images/congruent_outline.png);
}

#inputs, #outputs {
  padding: 20px;
  background: #e9ecef;
}

#outputs {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 24px;
  height: 100%;
}

h1, p {
  text-align: center;
  font-family: 'SfHollywoodHills-aPxE';
}

.jumbotron {
  margin-top: 30px;
}

form {
  font-family: 'SfHollywoodHills-aPxE';
  font-size: 20px;
}

select {
  font-family: sans-serif;
}

.btn {
  font-size: 24px;
  background-color: #8e44ad;
  border-color: #8e44ad;
}
.conf-canvas{
  position: absolute;
  z-index: -1;
}
.top-container{
  display: flex;
  flex-direction: column;
}

